body {
    padding: 20px;
  }
  
  #topBar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  #highScoreButton {
    color: rgb(251, 0, 255);
  }
  
  #highScoreButton:hover {
    cursor: pointer;
  }
  
  #mainScreen {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  #mainScreen p {
    font-size: large;
    width: 50%;
  }
  
  #startQuizButton {
    background-color: purple;
    padding: 10px 30px;
    border-radius: 10px;
    color: white;
  }
  
  #startQuizButton:hover {
    cursor: pointer;
    background-color: rgb(238, 126, 238);
  }
  #questionsScreen {
    display: none;
    flex-direction: column;
    align-items: center;
  }
  #question {
    font-size: 2.5rem;
    width: 45%;
  }
  #optionWrapper {
    width: 45%;
  }
  
  #optionWrapper .option {
    width: 150px;
    padding: 10px;
    margin: 7px;
    border-radius: 10px;
    color: white;
    background-color: purple;
  }
  
  #optionWrapper .option:hover {
    cursor: pointer;
    background-color: rgb(238, 126, 238);
  }
  
  #quizFinishedScreen {
    display: none;
    flex-direction: column;
    align-items: center;
  }
  
  #quizFinishedScreen h1 {
    width: 45%;
  }
  
  #quizFinalScore {
    width: 45%;
    margin-top: 10px;
    margin-bottom: 20px;
  }
  
  #initialsContainer {
    width: 45%;
    display: flex;
    flex-direction: row;
    height: 25px;
    align-items: center;
  }
  
  #userInitials {
    height: 17px;
    width: 15rem;
    margin: 10px 15px;
  }
  #initialsSubmitButton {
    padding: 4px 20px;
    background-color: purple;
    border-radius: 10px;
    color: white;
  }
  
  #initialsSubmitButton:hover{
    cursor: pointer;
    background-color: rgb(238, 126, 238);
  }
  
  #highScoresScreen {
    display: none;
    align-self: center;
    flex-direction: column;
    width: 30%;
  }
  
  #highScoresContainer{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }
  
  .highScore{
    background-color: rgb(225, 184, 225);
    padding: 5px;
    margin: 3px 0px;
  }
  
  .highScoreButtons{
    display: flex;
    flex-direction: row;
  }
  
  #goBackButton{
    background-color: purple;
    color: white;
    margin: 10px 7px 10px 0px;
    padding: 5px 25px;
    border-radius: 5px;
  }
  
  #goBackButton:hover{
    cursor: pointer;
    background-color: rgb(238, 126, 238);
  }
  
  #clearHighScoreButton{
    background-color: purple;
    color: white;
    margin: 10px 0px 10px 7px;
    padding: 5px 25px;
    border-radius: 5px;
  }
  
  #clearHighScoreButton:hover{
    cursor: pointer;
    background-color: rgb(238, 126, 238);
  }
  
  .line{
    margin-top: 30px;
    width: 50%;
    border: 1px solid rgba(128, 128, 128, 0.446);
  }
  
  #checker{
    color: rgba(128, 128, 128, 0.598);
    font-style: italic;
    font-size: larger;
  }